<!DOCTYPE html>

<head>
</head>


<body>  
  <center>
    <br/><br/> <br/><br/> <br/><br/>
	<p><%= Message %></p>
    <p>Enter your email Id:</p>
    <form id="register-form" method="POST" action="/forgotPassword">
      <br/>
      <strong><input type="text" name="email"></strong> <br/>
      <br/>
      <input type="submit" value="submit">
    </form>
  </center>
</body>

</html>
