<!DOCTYPE html>

<head></head>

<body>
  <center>
    <h3> Welcome To the Metrix </h3>
    <br/><br/><br/>
    <p>
      <%= Message %>
    </p>

    <form id="home-form" method="POST" action="/login">
      <bold>Username:</bold>
      <input type="text" name="email" placeholder="username"><br/><br/>
      <bold>Password:</bold>
      <input type="password" name="password" placeholder="password"><br/><br/>
      <input type="submit" value="submit">
    </form>
    <br/><br/>

    <a href="/forgotPassword">Forgot Password</a href>
    </center>

  </body>
  </html>
