<!DOCTYPE html>

<head>This is home page</head>

<body>
  <form id="register-form" method="POST" action="/register">
    <input type="text" name="name"> <br/>
    <input type="text" name="email"> <br/>
    <input type="text" name="password"> <br/>
    <input type="submit" value="submit">
  </form>
</body>

</html>
