<div class="container-fluid" *ngIf="showLogin">
    <div class="row">
        <div class="login-pg-container col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
            <div class="login-base-container">
                <div class="width100">
                    <img src="http://metrix.xpanxion.com/clicktime/public/images/metrix-logo.png" class="width-inherit">
                </div>
                <!--<h1 class="login-title">{{'PUBLIC.Login.title' | translate }}</h1>-->
                <div class="login-form">
                    <form role="form">
                        <div class="form-group pos-relative">
                            <i class="fa fa-envelope-o login-ico" aria-hidden="true"></i>
                            <input focusIndex="1" [attr.aria-label]="'SHARED.ARIALABLES.loginPage_email_input' | translate" type="email" name="emailAddress" class="form-control" id="email" placeholder="{{'PUBLIC.Login.emailAddressPlaceHolder' | translate }}" [(ngModel)]="model.emailAddress" (keyup.enter)="login()" #email>
                        </div>
                        <div class="form-group pos-relative">
                            <i class="fa fa-lock login-ico" aria-hidden="true"></i>
                            <input focusIndex="2" [attr.aria-label]="'SHARED.ARIALABLES.loginPage_password_input' | translate" name="password" type="password" class="form-control" id="pwd" placeholder="{{'PUBLIC.Login.passwordPlaceHolder' | translate }}" [(ngModel)]="model.password" (keyup.enter)="login()" #password>
                        </div>
                        <div class="checkbox pull-left">
                            <label><input type="checkbox" [(ngModel)]="model.isRemember" [ngModelOptions]="{standalone: true}"> Remember me</label>
                        </div>
                        <button type="button" class="btn btn-default" id="loadButton" (click)="login(model)" focusIndex="3">{{'PUBLIC.Login.loginButton' | translate }}<span *ngIf="model.isAuthInitiated == true"> ... <i class='fa fa-spinner fa-spin'> </i></span></button>
                        <!--<div>
                            <a routerLink="./forgotpassword" routerLinkActive="active" skipLocationChange>Unable to access the account?</a>
                        </div>-->
                        <div>
                            <span>In case unable to access account , please contact</span><a> MeTRIX-support@xpanxion.co.in</a>
                        </div>                        
                    </form>
                </div>                
            </div>
        </div>
    </div>    
</div>