<div class="page-header marginZero">
    <div class="container-fluid">
        <div class="pull-left">
                
        </div>
        <div class="pull-right headerRightSection">
            <div class="headerContent userName">
                <div class="clear-fix"></div>
                </div>
                <logout-confirmation (onLogoutConfirmation)="onLogoutConfirmation($event)" #logout></logout-confirmation>
                <a class="link-new-window" href="javascript:void(0)">
                    <img alt="{{'SHARED.ALTTEXTS.shopPage_xpLogo_image' | translate}}" title="{{'SHARED.TITLTEXTS.shopPage_xpLogo_image' | translate}}" class="headerLogo" [src]=""/>
                    <span class="topright-xp-logo">
                        <img alt="{{'SHARED.OPENSINNEWWINDOWALT.linkOpens_in_new_window' | translate}}" title="{{'SHARED.OPENSINNEWWINDOWTITLE.linkOpens_in_new_window' | translate}}" src="../../assets/Images/new-window.png">
                    </span>
                </a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>